:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-color: #212121;
    --secondary-color: #2196f3;
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

img{
    display: block;
}
/*podłączyć te klasy*/
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1600px;
    padding: 0 15px;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
}

/*========HEADER========*/

.header .container{
    display:flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation-list {
    display: flex;
    align-items: center;
    margin-right: 371px;
}

.address-list {
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}

.header .address-list-mail {
    margin-left: auto;
    margin-right: 50px;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 93px;
    padding-top:24px;
    padding-bottom:24px;
}

.logocolor{
    color:black;
}
.navigation-list,
.address-list {
    list-style: none;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
}

.address-list-mail,
.address-list-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-mail:hover,
.address-list-mail:focus,
.address-list-phone:hover,
.address-list-phone:focus {
    color: var(--secondary-color);
}

/*========END HEADER========*/

/*========MAIN========*/
.background .container{
    background-color: #2f303a;
    margin: 0 auto;
    width: 1600px;
    padding:200px 452px;
    
}

.background-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top:200px;
    padding-bottom:280px;
    padding: left 452px;
    padding-right:452px;
}

.background-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: white;
    background-color: var(--secondary-color);
}

.background-button:hover,
.background-button:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

/*========END MAIN========*/

/*========FEATURES========*/
.features {
    font-size: 14px;
    letter-spacing: 0.03em;
}

.features-title {
    font-weight: 700;
    line-height: 1.142;
    text-transform: uppercase;
    color: #212121;
}

.features-description {
    line-height: 1.714;
    color: #757575;
    text-transform: none;
}

/*========END FEATURES========*/

/*========OFFER AND TEAM ========*/
.headerh2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-name {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: #212121;
}

.team-position {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: #757575;
}

/*========END OFFER AND TEAM ========*/

/*========FOOTER ========*/
.footer {
    background-color: #2f303a;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
}

.footer-address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-address-link:hover,
.footer-address-link:focus {
    color: var(--secondary-color);
}

/*========END FOOTER ========*/

/*========PORTFOLIO ========*/

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.menu-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.menu-button:hover,
.menu-button:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

/*========END-PORTFOLIO ========*/